<header class="topbar-nav">
	<nav class="navbar navbar-expand fixed-top gradient-forest">
		<ul class="navbar-nav mr-auto align-items-center">
			<li class="nav-item">
				<a class="nav-link toggle-menu" href="javascript:void();">
					<i class="icon-menu menu-icon"></i>
				</a>
			</li>
		</ul>

		<ul class="navbar-nav align-items-center right-nav-link">
			<li class="nav-item language">
				<a class="nav-link dropdown-toggle dropdown-toggle-nocaret waves-effect" data-toggle="dropdown" href="#">
					<i id="language-flag" class="flag-icon"></i>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li class="dropdown-item">
						<a th:href="@{/trang-chu?lang=gb}">
							<i class="border border-black flag-icon flag-icon-gb mr-2"></i> <span th:text="#{topbar.label.language.english}"></span>
						</a>
					</li>
					<li class="dropdown-item">
						<a th:href="@{/trang-chu?lang=fr}">
							<i class="border border-black flag-icon flag-icon-fr mr-2"></i> <span th:text="#{topbar.label.language.french}"></span>
						</a>
					</li>
					<li class="dropdown-item">
						<a th:href="@{/trang-chu?lang=jp}">
							<i class="border border-black flag-icon flag-icon-jp mr-2"></i> <span th:text="#{topbar.label.language.japanese}"></span>
						</a>
					</li>
					<li class="dropdown-item">
						<a th:href="@{/trang-chu?lang=vn}">
							<i class="border border-black flag-icon flag-icon-vn mr-2"></i> <span th:text="#{topbar.label.language.vietnamese}"></span>
						</a>
					</li>
				</ul>
			</li>
			<li class="nav-item">
				<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" data-toggle="dropdown" href="#">
					<span class="user-profile">
						<img th:src="@{'/images/avatars/nguoi-dung/' + ${#authentication.getPrincipal().getHinh()}}" class="img-circle" alt="user avatar">
					</span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li class="dropdown-item user-details">
						<a href="javaScript:void();">
							<div class="media">
								<div class="avatar">
									<img class="align-self-start mr-3" th:src="@{'/images/avatars/nguoi-dung/' + ${#authentication.getPrincipal().getHinh()}}" alt="user avatar">
								</div>
								<div class="media-body">
									<h6 class="mt-2 user-title">
										<span th:text="${#authentication.getPrincipal().getHoTen()}"></span>
									</h6>
									<p class="user-subtitle">
										<span th:text="${#authentication.getPrincipal().getEmail()}"></span>
									</p>
								</div>
							</div>
						</a>
					</li>
					<li class="dropdown-divider"></li>
					<li class="dropdown-item">
						<a href="javaScript:void();">
							<i class="icon-wallet mr-2"></i> <span th:text="#{topbar.label.setting.user-details}"></span>
						</a>
					</li>
					<li class="dropdown-divider"></li>
					<li class="dropdown-item">
						<a href="javaScript:void();">
							<i class="icon-settings mr-2"></i> <span th:text="#{topbar.label.setting.setting}"></span>
						</a>
					</li>
					<li class="dropdown-divider"></li>
					<li class="dropdown-item">
						<a href="dang-xuat">
							<i class="icon-power mr-2"></i> <span th:text="#{topbar.label.setting.log-out}"></span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	
	<!-- form doi mat khau -->
	<div class="modal fade" id="modal-doi-mat-khau" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated bounceIn">
				<div class="modal-header bg-warning">
					<h5 class="text-white modal-title">
						<i class="icon-layers icons"></i> Chi tiết phòng ban
					</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span class="text-white" aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col">
							<form action="api/v1/phongbans/update" method="post" id="phongBanFormChiTiet" class="phongBanForm" novalidate="novalidate">
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Mã phòng ban</label>
									<div class="col-lg-9">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fa fa-cube"></i></span>
											</div>
											<input readonly name="maPhongBan" class="phongBanMaPhongBanForm form-control" type="text" value="">
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label">Tên phòng ban</label>
									<div class="col-lg-9">
										<div class="input-group mb-3">
											<div class="input-group-prepend">
												<span class="input-group-text"><i class="fa fa-cube"></i></span>
											</div>
											<input name="tenPhongBan" class="phongBanTenPhongBanForm form-control" type="text" value="">
										</div>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-lg-3 col-form-label form-control-label"></label>
									<div class="col-lg-9">
										<button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fa fa-times"></i> Đóng</button>
										<button type="submit" class="btn btn-warning"><i class="fa fa-check-square-o"></i> Hoàn tất</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>