<!-- Bootstrap core JavaScript-->
<script src="assets\js\jquery.min.js"></script>
<script src="assets\js\popper.min.js"></script>
<script src="assets\js\bootstrap.min.js"></script>

<!-- simplebar js -->
<script src="assets\plugins\simplebar\js\simplebar.js"></script>
<!-- waves effect js -->
<script src="assets\js\waves.js"></script>
<!-- sidebar-menu js -->
<script src="assets\js\sidebar-menu.js"></script>
<!-- Custom scripts -->
<script src="assets\js\app-script.js"></script>

<!--Bootstrap Datepicker Js-->
<script src="assets\plugins\bootstrap-datepicker\js\bootstrap-datepicker.min.js"></script>
<script>
	$('#inline-datepicker').datepicker({
		todayHighlight : true
	});
</script>
<!-- Chart js -->
<script src="assets\plugins\Chart.js\Chart.min.js"></script>
<!-- Sparkline JS -->
<script src="assets\plugins\sparkline-charts\jquery.sparkline.min.js"></script>
<script src="assets\js\widgets.js"></script>

<!-- Vertical timeline js -->
<script src="assets\plugins\horizontal-timeline\js\horizontal-timeline.js"></script>
<!-- Vertical timeline js -->
<script src="assets\plugins\vertical-timeline\js\vertical-timeline.js"></script>